*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.raleway-uniquifier-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{

}
nav{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
}

nav ul li{
    list-style-type:none;
}
nav h1{
    font-size: 34px;
    font-weight: 600;
    color: #4E47FF;
    margin-left: 150px;
    margin-top: 50px;

}
nav button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #4E47FF; 
    padding: 12px 36px;
    border-radius: 10px;
    margin-right: 150px;
    margin-top: 50px;
    border-style: none;
}
.hero-bannar{
    background-image: url(../image/hero-bg.png);
    width: 1440px;
    height: 698px;
    margin: 0 auto;

}
.banner-content{
    /* width: 905px;
    height: 227px; */
    margin: 0 auto;
    padding: 209px 267px 152px 267px;

}
.bannar-title{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    color: #252432;
    /* margin-top: 209px; */
}
.banner-btn{
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 37px;
    margin-left: 356px;
}
.action-area{
    display: flex;
}