*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.raleway-uniquifier-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{

}
nav{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
}

nav ul li{
    list-style-type:none;
}
nav h1{
    font-size: 34px;
    font-weight: 600;
    color: #4E47FF;
    margin-left: 150px;
    margin-top: 50px;

}
nav button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #4E47FF; 
    padding: 12px 36px;
    border-radius: 10px;
    margin-right: 150px;
    margin-top: 50px;
    border-style: none;
}
nav button:hover{
    color: #4E47FF ;
    background-color: #ceed37;
}
.hero-bannar{
    background-image: url(../image/hero-bg.png);
    width: 1440px;
    height: 698px;
    margin: 0 auto;

}
.banner-content{
    /* width: 905px;
    height: 227px; */
    margin: 0 auto;
    padding: 209px 267px 152px 267px;

}
.bannar-title{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    color: #252432;
    /* margin-top: 209px; */
}
.banner-btn{
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 37px;
    margin-left: 356px;
}
.banner-btn:hover{
    color: #4E47FF;
    background-color: #ceed37;
}
.action-area{
    width: 1140px;
    height: 328px;
    display: flex;
    margin: 0 auto;
    margin-top: 116px;
    justify-content: space-between;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    padding: 62px 0 23px 0;
    
}
.action-sub-title{
    font-size: 24px;
    font-weight: 400;
    color: #252432;
    line-height: 30px;
    opacity: 50%;
    padding-bottom: 24px;
}
.action-btn{
    font: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
}
.action-btn:hover{
    color: #4E47FF ;
    background-color: #ceed37;
}
.action-ing{
    width: 403px;
    height: 328px;
    border-radius: 48px;

}
/* productive section start */
.productive-users{
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    background-color: #c9c7fc;
    margin-top: 116px; 
    border-radius: 15px;
}
.p-user-container{
    display: flex;
    justify-content: space-evenly;
}
.p-user-headline{
    font-size: 38px;
    font-weight: bold;
    color:#252432;
    text-align: center;
    opacity: 100%;
    padding: 50px 0 40px 0;
}
.p-user-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.p-users-sub-title{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    opacity: 50%;
}


/* productive section end */

/* user feedback section start */
.user-fb-section{
    width: 1140px;
    height: 342px;
    margin: 0 auto;
    margin-top: 116px;
    border-bottom: 5px solid rgb(84, 82, 82, .4);
    
}
.user-fb-titlle{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    padding-bottom: 50px;
}
.user-fb-card-con{
    display: flex;
    gap: 20px;
}
.user-fb-sub-con{
    display: flex;
    gap: 15px;

    
}
.user-fb-card{
    width: 366px;
    height: 243px;
    opacity: 100%;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.12) ;
    border-radius: 15px;
    border-style: none;
    padding: 0px 15px;
}
.user-fb-title{
   font-size: 25px;
   font-weight: bold;


}
.user-fb-sub-title{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 9px 0px 24px 0px;
}
.icon{
    padding: 24px 5px;
}
.review-name{
    font-size: 18px;
    font-weight: 700;
    color: #757575;
}
.review-date{
    font-size: 16px;
    font-weight: 400;
    color:#B3B3B3 ;
}

/* user feedback section end */